.imghref.imghref_brand img{
    width: 100px;
    height: 110px;
    margin-top: 10px;
    padding: 10px 20px;
}

.imghref.imghref_brand{
    text-decoration: none;
}

.imghref.imghref_brand img:hover{
    box-shadow: inset 0px 0px 1px #fff;
}
