.brandbox{
    overflow: auto;
    text-align: left;
    margin: 0 auto;
    left: 63px;
    position: absolute;
    z-index: -10;
    opacity: 0;
    width: 300px;
    height: 400px;
    background-color: #fff;
    -webkit-transition: opacity 600ms, z-index 0ms 600ms;
    transition: opacity 600ms, z-index 0ms 600ms;
}

.brandbox .delim{
    width: 300px;
    height: 3px;
    background-color: #303030;
    padding: 0;
    margin: 0;
}

.brandbox span{
    color: #a9a9a9;
    text-transform: capitalize;
}

.brandbox ol{
    font-weight: normal;
    list-style: none;
    padding: 5px 20px;
    line-height: normal;
}

.brandbox li{
    font-size: 14px;
    text-transform: capitalize;
    padding: 5px 25px;
}

.brandbox li a{
    text-decoration: none;
    color: #000;
}

.brandbox li a:hover{
    color: #a9a9a9;
}
